In [16]:
import pandas as pd
import numpy as np
import os
import csv
import warnings
warnings.filterwarnings("ignore")

In [17]:
# Creation of dataframes of the different csv files
dataframes = []
for dirname, _, filenames in os.walk('./datasets/1_SEGMENTATION'):
    for filename in filenames:
        file = filename.replace('.csv', '_df')
        filepath = os.path.join(dirname, filename)
        # Sniff the delimiter using csv.Sniffer
        with open(filepath, 'r', newline='') as csvfile:
            sniffer = csv.Sniffer()
            dialect = sniffer.sniff(csvfile.read(4096))  # Read a sample to sniff
            separator = dialect.delimiter
        # Read the CSV file with the detected separator
        df = pd.read_csv(filepath, sep=separator, encoding="UTF-8")
        globals()[file] = df.copy()
        dataframes.append(df)
        print(file,'-','\n','Rows:',df.shape[0],'\n','Columns:',df.shape[1])
print('Data imported')

RETAIL.txt -
 Rows: 20
 Columns: 1
RETAIL_PRODUCT_df -
 Rows: 2800
 Columns: 3
RETAIL_REGISTRY_df -
 Rows: 25727
 Columns: 4
RETAIL_SALES_df -
 Rows: 489967
 Columns: 6
RETAIL_SALES_DETAIL_df -
 Rows: 2047073
 Columns: 6
Data imported

In [18]:
# Dataframes
rp_df = RETAIL_PRODUCT_df
rr_df = RETAIL_REGISTRY_df
rs_df = RETAIL_SALES_df
rsd_df = RETAIL_SALES_DETAIL_df

# <u><i>Product Dataframe Exploration</i></u>
<u><b><i>Description</i></b></u>: Dataset containing information on product classification

In [19]:
# View the data in the retail product dataframe
rp_df.head()

   PRODUCT_ID  CATEGORY_ID CATEGORY_DESC
0       92887            4       POULTRY
1      102017            1  OTHER_FROZEN
2      103710            3    READY-MADE
3       10184            7          FISH
4       10328           16         OTHER

In [29]:
rp_df.describe()

          PRODUCT_ID  CATEGORY_ID
count    2800.000000  2800.000000
mean   124085.044643     8.869286
std     68971.147276     4.557134
min        36.000000     0.000000
25%     81400.000000     4.000000
50%    134552.000000    11.000000
75%    177499.250000    12.000000
max    257836.000000    16.000000

# <u><i>Registry Dataframe Exploration</i></u>
<u><b><i>Description</i></b></u>: Dataset containing information on the client's registration process  

## Special Columns
<b><i>CREATION_DATE</i></b>: date of first registration of the client  
<b><i>REGIONAL_CODE</i></b>: coding of the geographical region of residence  
<b><i>ORIGIN</i></b>: channel of registration

In [20]:
# View the data in the retail registry dataframe
rr_df.head()

  CUSTOMER_ID CREATION_DATE  REGIONAL_CODE ORIGIN
0  AA00312188    2005-11-05             11    WEB
1  AA00312390    2009-01-17             42    WEB
2  AA00325975    2005-01-04             11    WEB
3  AA00336843    2014-03-12             11    WEB
4  AA00339761    2004-02-13              6    WEB

In [28]:
rr_df.describe()

       REGIONAL_CODE
count   25727.000000
mean       31.801570
std        19.849741
min         1.000000
25%        13.000000
50%        30.000000
75%        47.000000
max        82.000000

# <u><i>Sales Dataframe Exploration</i></u>
<u><b><i>Description</i></b></u>: Dataset containg aggregate level infomration on purchases at client-date level  

## Special Columns
<b><i>DATE</i></b>: date of purchase  
<b><i>OUTLET_ID</i></b>: coding of the store of reference  
<b><i>PAYMENT_METHOD</i></b>: payment method  
<b><i>TIME</i></b>: time of delivery  
<b><i>TOTAL_POINTS</i></b>: amount of fidelity point acquired

In [21]:
# View the data in the retail sales dataframe
rs_df.head()

  CUSTOMER_ID        DATE  OUTLET_ID PAYMENT_METHOD      TIME  TOTAL_POINTS
0  AA00312188  2019-02-14         64           CASH  14:39:56         290.0
1  AA00312188  2019-02-28         64           CASH  14:19:14         155.0
2  AA00312188  2019-03-14         64           CASH  14:39:26         295.0
3  AA00312188  2018-09-27         64           CASH  14:53:44         115.0
4  AA00312188  2019-04-25         64           CASH  14:49:31         290.0

In [27]:
rs_df.describe()

           OUTLET_ID   TOTAL_POINTS
count  489967.000000  468099.000000
mean       49.703980      60.079663
std        36.056757    1272.051275
min         0.000000 -146915.000000
25%        17.000000     110.000000
50%        38.000000     195.000000
75%        81.000000     315.000000
max       141.000000    9180.000000

# <u><i>Sale Detail Dataframe Exploration</i></u>
<u><b><i>Description</i></b></u>: Dataset containing information on purchases' receipt lines at client-date level  

## Special Columns
<b><i>DATE</i></b>: date of purchase  
<b><i>PRODUCT_ID</i></b>: identification code of the purchased item  
<b><i>QUANTITY</i></b>: quantity of the purchased item  
<b><i>LIST_PRICE</i></b>: listing price of the purchased item  
<b><i>SPECIAL</i></b>: indicator for item with special offer

In [15]:
# View the data in the retail sales detail dataframe
rsd_df.head()

  CUSTOMER_ID        DATE  PRODUCT_ID  QUANTITY  LIST_PRICE SPECIAL
0  BF00404312  2020-01-17        1068       1.0        6.85     NaN
1  BF00404312  2020-01-17       94580       1.0        6.25     NaN
2  BF00404312  2020-01-17      224046       1.0        4.95     NaN
3  BF00404312  2020-01-17       17284       1.0        5.25     NaN
4  BF00404312  2020-01-17      130905       1.0        5.95     NaN

In [30]:
rsd_df.describe()

         PRODUCT_ID      QUANTITY    LIST_PRICE
count  2.047073e+06  2.047073e+06  2.025369e+06
mean   7.393058e+04  1.136371e+00  8.091309e+00
std    7.768726e+04  1.716446e+00  5.669495e+00
min   -1.200000e+01 -4.800000e+01 -3.048000e+02
25%    2.942000e+03  1.000000e+00  4.950000e+00
50%    4.415400e+04  1.000000e+00  6.950000e+00
75%    1.387850e+05  1.000000e+00  9.950000e+00
max    2.537530e+05  1.000000e+03  3.704500e+02